{% extends "myCv/base.html" %}

{% block title %}
About Page
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    
<h1 class="display-4" >TO-DO list</h1>    
    <p class="lead">This is to-do list for python Django Web development.</p>
    <p class="lead">You can use this TO-DO List for python Django projects.</p>
    <p class="lead">List follow the list.</p>
    
    <div class="mt-4"> 
        <button type="button" class="btn btn-outline-success">Create To-Do List</button>
    </div>

  </div>
</div>
{% endblock content %}